*{
	-webkit-tap-highlight-color:rgba(0,0,0,0);
	/* タップハイライト無効 */
	-webkit-touch-callout: none;
	/* 長押しメニュー禁止 */
}
html, body, .app {
	/*width: 100%;	/* 横幅100％ */
	/*height: 100%;	/* 高さ100％ */
	margin: 0 auto;		/* 外幅0 */
	padding: 0;		/* 内幅0 */
	overflow: hidden;	/* はみ出した時は隠す */
	/*position: relative;	/* 基準 */
	background: #f0f;	/* 背景は紫 */
}
#app canvas{
	/* ドット絵表示 */
	image-rendering: -webkit-optimize-contrast;	/* Safari用 */
	image-rendering: -moz-crisp-edges;			/* FireFox用 */
	image-rendering: pixelated;
	position: absolute;	/* 位置固定 */
	top: 25%;		/* 中央よせ */
	left: 50%;
	transform: translate(-50%, -25%);
}
#myid {
	color: #fff;
	background: #00f;
}
#text-button{
  display: block; 
  cursor: pointer;
  width: 100%;
  text-align: center;
  border: 10px solid #232323;
  background: #fff; 
  }
  #cvl canvas{
  	width: 100px;
  	height: 100px;
  	/* ドット絵表示 */
  	image-rendering: -webkit-optimize-contrast;  /* Safari */
  	image-rendering: -moz-crisp-edges;	  /* FireFox */
  	image-rendering: pixelated;		
  	position: absolute;		/* 位置固定 */
  }
  
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 